#menu-toggle {
    display: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}
.techy-button {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.menu-icon {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

#menu a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    /*display: flex; */
    align-items: center;
    justify-content: space-between;
	text-align: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

h1 {
	font-size: 50px;
    color: #00bcd4;
    margin: 10px 0; /* Adjust the top and bottom margin as needed */
	text-align: center;
}

section {
    padding: 40px;
	flex-wrap: wrap;
}

section figure {
    flex: 0 0 calc(70.33% - 20px); /* Adjust the width as needed; 20px is the total margin */
    margin: 10px; /* Add some margin between figures */
    text-align: center; /* Center-align content within each figure */
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
	width: 50%;
}

section figcaption {
    margin-top: 10px; /* Add space between image and caption */
    font-size: 16px; /* Adjust font size as needed */
    color: #fff; /* Set the text color */
}

h2 {
	font-size: 38px;
	text-align: left;
    color: white;
    margin-bottom: 20px;
}

h3 {
	font-size: 27px;
	text-align: center;
    color: white;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 25px;
    line-height: 1.2;
}



ul {
	font-size: 25;
    display: block;
    list-style-type: disc;
    margin: 0 auto;
}

#click {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: left;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#click:disabled {
  cursor: default;
}

#click:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Clear the float to prevent layout issues */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Add new styles to move the logo to the side */
@media only screen and (max-width: 767px) {
    #logo-container {
        margin-right: 0; /* Reset the right margin for smaller screens */
    }
}
#ContentB {
    display: none;
    background-color: #3498db; /* Blue color */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 10px; /* Adjust margin as needed */
    border-radius: 5px;
}

#ContentB {
	margin-bottom: 10px;
    font-size: 16px;
}
#Content1 {
    display: none;
    background-color: #3498db; /* Blue color */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 10px; /* Adjust margin as needed */
    border-radius: 5px;
}

#Content1 ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#Content1 li {
    margin: 2; /* Remove margin */
    padding: 2; /* Remove padding */
	list-style-type: disc;
	margin-left: 20px;
    text-align: left;
}

#Content2 {
    display: none;
    background-color: #3498db; /* Blue color */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 10px; /* Adjust margin as needed */
    border-radius: 5px;
}

#Content2 ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#Content2 li {
    margin: 2; /* Remove margin */
    padding: 2; /* Remove padding */
	list-style-type: disc;
	margin-left: 20px;
    text-align: left;
}

#Content3 {
    display: none;
    background-color: #3498db; /* Blue color */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 10px; /* Adjust margin as needed */
    border-radius: 5px;
}

#Content3 ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
	text-align: left;
}

#Content3 li {
    margin: 2; /* Remove margin */
    padding: 2; /* Remove padding */
	margin-left: 20px; /* Adjust the value as needed */
	list-style-type: disc;
    text-align: left;
}

#Content3 h2 
{
	text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
}

.container div {
    height: 150px;
    
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

* {
    box-sizing: border-box;
}


/* Slideshow container */
#slider-container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: auto; /* Center the container horizontally */
    overflow: hidden;
    position: relative;
}

.mySlides {
    display: none;
    width: 100%;
    text-align: center;
    margin: auto; /* Add this for centering */
    
}
.mySlides img {
    width: 100%;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 85%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5); /* Added background color */
}


.prev {
    left: 25%;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 25%;
    border-radius: 3px 0 0 3px;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

